@use "./main";

html {
  box-sizing: border-box;
}

.h5p-profile-configurator {
  background-color: main.$color-background;
  color: main.$color-text;

  // Disabled color, e.g. for buttons
  --color-disabled: rgb(128 128 128 / 95%);
}
