.h5p-profile-configurator-message-box.message-box-hint {
  background-color: var(--color-hint-message-background);
  border: 1px solid var(--color-hint-message-border);
  box-sizing: border-box;
  color: var(--color-hint-message-text);
  font-size: .8rem;
  padding: .8rem;

  .h5p-profile-configurator-message-box-message {
    text-align: center;
  }
}
