.h5p-profile-configurator-question-screen {
  align-items: center;
  display: flex;
  flex-direction: column;

  .h5p-profile-configurator-panel-wrapper {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem;
    width: min(100%, 60em);
  }

  &.display-none {
    display: none;
  }
}
